*{
    padding: 0px;
    margin: 0px;
}
 
.nav-bar{
    top: 0px;
    position: sticky;
    z-index: 1;
}

a{
    text-decoration: none;
}

.footer{
    background-color: #222;
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer i{
    font-size: 1.5rem;
}
.last-part{
    background-color: #222;
    color: white;
}